<h1>Mis productos:</h1>
<div class="row">
  {{#each products}}
    {{!-- {{#if status}} --}}

      <div class="card" style="width: 18rem">
        <div class="card-body">
          <h5 class="card-title">Tittle: {{title}} </h5>
          <p class="card-text">Descripcion: {{description}}</p>
          <p class="card-text">code : {{code}}</p>
          <p class="card-text">category:{{category}}</p>
          <p class="card-text">price:{{price}}</p>
          <p class="card-text">stock:{{stock}}</p>
          <button type="button" class="btn btn-primary">Agregar</button>
        </div>
      </div>
    {{!-- {{/if}} --}}
  {{/each}}
</div>